body {
  font-family: 'Roboto', sans-serif;
  
}
main {
  background-color: #F5F5F5;
  padding: 52px 24px;
}
#logo {
  padding-left: 12px;
  width: 132px;
}

#menu {
  margin: auto;
  justify-content: center;
  width: 328px;
  display: flex;
}

#menu a {
  
  width: 164px;
  text-align: center;
  
}

a:link {
  text-decoration: none;
}
/* 
#menu a:visited {
  text-decoration: none;
} */

.active {
  color: #23B04A;
  border-bottom: 2px solid #23B04A;
}

table {
  background-color: white;
  border-collapse: collapse;
  width: 100%;
  
}

td {
  border-bottom: 1px solid rgba(33, 33, 33, 0.08);
}

#container {
  display: flex;
  height: 48px;
}

#profile {
  padding-right: 8px;
}

input {
  width: 50%;
  display: flex;
  margin: auto;
  padding: 16px;
  border: 2px solid #0000001F;
  border-radius: 4px;
  background-color: #F5F5F5;
  background-image: url('../img/qr.png');
  background-position: 920px ;
  background-repeat: no-repeat;
}

.favitems {
  margin: 48px auto;
  width: 50%;
}

#heart {
  width: 21px;
  height: 20px;
  padding-right: 16px;
}

.cart {
  margin: auto;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  
}

#bell {
  width: 25px;
  height: 24px;
}

#bell1 {
  width: 25px;
  height: 24px;
}


#bell2 {
  width: 25px;
  height: 24px;
}